---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import ImageGrid from '../components/ImageGrid.astro';
import { Picture, Image } from 'astro:assets';
import Card from '../components/Card.astro';
import Aside from '../components/Aside.astro';
import Title from '../components/Title.astro';
import Button from '../components/Button.astro';

import imgOne from '../images/img_one.jpg';
import imgTwo from '../images/img_two.jpg';
import imgThree from '../images/img_three.jpg';
import imgFour from '../images/img_four.jpg';
import imgFive from '../images/img_five.jpg';

import buttonIcon from '../images/icons/download.svg';
---

<Layout title="Cj Brown - Front End Developer">
	<Banner
	title="Software designer, founder, and amateur astronaut."
	copy="Hi, I'm Cj Brown, a front end developer based in the UK. I build websites and web applications using HTML, CSS, JavaScript, React, Vue, Astro, Svelte, and more. I have a keen interest in performance and accessibility, and I'm always looking to learn new things."
	/>

	<section class="c-section">
		<div class="o-container">
			<ImageGrid>
				<Picture
				src={imgOne}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				/>
				<Picture
				src={imgTwo}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				/>
				<Picture
				src={imgThree}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				/>
				<Picture
				src={imgFour}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				/>
				<Picture
				src={imgFive}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				/>
			</ImageGrid>
		</div>
	</section>

	<section class="c-section" x-data="{ modal: null }">
		<div class="o-container o-duo">
			<div>
				<Title text="Job History" />
				<div class="o-stack">
					<Card id=1 />
					<Card id=2 />
				</div>
			</div>
			<div class="o-stack o-stack--sm">
				<Button href="#">
					Download CV
					<Image src={ buttonIcon } class="c-button__icon" alt="" width="18" />
				</Button>
				<Aside />
			</div>
		</div>
	</section>
</Layout>
