---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import ImageGrid from '../components/ImageGrid.astro';
import { Picture, Image } from 'astro:assets';
import Card from '../components/Card.astro';
import Aside from '../components/Aside.astro';
import Title from '../components/Title.astro';
import Article from '../components/Article.astro';
import Button from '../components/Button.astro';
import Modal from '../components/Modal.astro';

import imgTwo from '../images/img_two.jpg';
import imgSix from '../images/img_six.webp';
import imgSeven from '../images/img_seven.jpg';

import buttonIcon from '../images/icons/download.svg';

const allJobs = await Astro.glob('../content/jobs/*.md');
---

<Layout title="Cj Brown - Developer">
	<Banner
	title="Hi, I'm Cj Brown, a developer based in Lincolnshire, UK."
	copy=" I build websites and web applications using HTML, CSS, JavaScript, Laravel, React, Vue, Astro, Svelte, and more. I have a keen interest in performance and accessibility, and I'm always looking to learn new things."
	/>

	<section class="c-section">
		<div class="o-container">
			<ImageGrid>
				<Picture
				src={imgSeven}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: 1deg;"}}
				/>
				<Picture
				src={imgSix}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: 2deg;"}}
				/>
				<Picture
				src={imgTwo}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: -2deg;"}}
				/>
			</ImageGrid>
		</div>
	</section>

	<section class="c-section" x-data="{ modal: null }">
		<div class="o-container o-duo">
			<div>
				<Title text="Job History" />
				<div class="o-stack" x-data="{ modal: null }">
					{
						allJobs.map((job) => (
							<Card
							title={job.frontmatter.title}
							employer={job.frontmatter.employer}
							startDate={job.frontmatter.startDate}
							endDate={job.frontmatter.endDate}
							role={job.frontmatter.role}
							shortDescription={job.frontmatter.shortDescription}
							id={job.frontmatter.id}
							/>
							<Modal
							title={job.frontmatter.title}
							employer={job.frontmatter.employer}
							startDate={job.frontmatter.startDate}
							endDate={job.frontmatter.endDate}
							role={job.frontmatter.role}
							location={job.frontmatter.location}
							id={job.frontmatter.id}
							tags={job.frontmatter.tags}>
								<Fragment set:html={job.compiledContent()} />
							</Modal>
						))
					}
				</div>
				<Title text="About Me" />
				<Article>
					<p>I'm a dedicated and self-taught front-end web developer with over 7 years of experience. I specialize in building content-focused websites and web applications using full-stack technologies and frameworks such as Laravel, Vue, React, Astro, and Svelte. My expertise extends to numerous PHP-based Content Management Systems, including WordPress, Craft, and Statamic, as well as headless solutions like Storyblok and Sanity. Beyond content-driven brochure sites, I have extensive experience in developing custom web applications, including CRUD systems, bespoke CRM solutions, project management tools and internal products.</p>
					
					<p>I have a strong focus on performance and accessibility and am always eager to expand my knowledge. I thrive on engaging with new languages and frameworks, tackling challenges that enhance my technical expertise and problem-solving skills, fueled by my adaptability and passion for learning.</p>

					<p>I'm a new dad to my 5 month old son, an avid gamer, television/movie enthusiast, and pet lover.</p>
				</Article>
			</div>
			<div class="o-stack o-stack--sm">
				<Button href="/resume/cv-2024.pdf" target={'_blank'}>
					Download CV
					<Image src={ buttonIcon } class="c-button__icon" alt="" width="18" />
				</Button>
				<Aside />
			</div>
		</div>
	</section>
</Layout>
