---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import ImageGrid from '../components/ImageGrid.astro';
import { Picture, Image } from 'astro:assets';
import Card from '../components/Card.astro';
import Aside from '../components/Aside.astro';
import Title from '../components/Title.astro';
import Article from '../components/Article.astro';
import Button from '../components/Button.astro';
import Modal from '../components/Modal.astro';

import imgOne from '../images/img_one.jpg';
import imgTwo from '../images/img_two.jpg';
import imgThree from '../images/img_three.jpg';
import imgFour from '../images/img_four.jpg';
import imgFive from '../images/img_five.jpg';

import buttonIcon from '../images/icons/download.svg';
import { Code } from 'astro:components';

const allJobs = await Astro.glob('../content/jobs/*.md');
---

<Layout title="Cj Brown - Front End Developer">
	<Banner
	title="Hi, I'm Cj Brown, a front end developer based in the UK."
	copy=" I build websites and web applications using HTML, CSS, JavaScript, Laravel, React, Vue, Astro, Svelte, and more. I have a keen interest in performance and accessibility, and I'm always looking to learn new things."
	/>

	<section class="c-section">
		<div class="o-container">
			<ImageGrid>
				<Picture
				src={imgOne}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: -2deg;"}}
				/>
				<Picture
				src={imgTwo}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: 1deg;"}}
				/>
				<Picture
				src={imgThree}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: 2deg;"}}
				/>
				<Picture
				src={imgFour}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: -2deg;"}}
				/>
				<Picture
				src={imgFive}
				formats={['webp', 'jpg']}
				alt="Astro"
				width="300"
				height="300"
				class={`c-image-grid__item`}
				pictureAttributes={{style: "rotate: 2deg;"}}
				/>
			</ImageGrid>
		</div>
	</section>

	<section class="c-section" x-data="{ modal: null }">
		<div class="o-container o-duo">
			<div>
				<Title text="Job History" />
				<div class="o-stack" x-data="{ modal: null }">
					{
						allJobs.map((job) => (
							<Card
							title={job.frontmatter.title}
							employer={job.frontmatter.employer}
							startDate={job.frontmatter.startDate}
							endDate={job.frontmatter.endDate}
							role={job.frontmatter.role}
							shortDescription={job.frontmatter.shortDescription}
							id={job.frontmatter.id}
							/>
							<Modal
							title={job.frontmatter.title}
							employer={job.frontmatter.employer}
							startDate={job.frontmatter.startDate}
							endDate={job.frontmatter.endDate}
							role={job.frontmatter.role}
							location={job.frontmatter.location}
							id={job.frontmatter.id}>
								<Fragment set:html={job.compiledContent()} />
							</Modal>
						))
					}
				</div>
				<Title text="About Me" />
				<Article>
					<p>I'm a dedicated and self-taught front-end web developer with over 6 years of experience. I specialize in building content-focused websites and web applications using technologies such as HTML, CSS, JavaScript, Laravel, React, Vue, Astro, and Svelte. My expertise extends to numerous PHP-based Content Management Systems, including WordPress, Craft, and Statamic, as well as headless solutions like Storyblok and Sanity. Beyond content-driven brochure sites, I have extensive experience in developing custom web applications, including CRUD systems, bespoke CRM solutions, and project management tools.</p>
					
					<p>I have a strong focus on performance and accessibility and am always eager to expand my knowledge. I thrive on engaging with new languages and frameworks, tackling challenges that enhance my technical expertise and problem-solving skills, fueled by my adaptability and passion for learning.</p>

					<p>In my free time, I love adventuring with my fiancée and our 3-year-old Labrador, Moose, exploring new towns and cities, camping (or glamping, rather), visiting the coast or enjoying strolls through our local woodlands. I enjoy traveling to new countries and immersing myself in different cultures. When at home, you’ll often find me either enjoying a new box set or movie in my living room or at my desk playing the latest video games.</p>
				</Article>
			</div>
			<div class="o-stack o-stack--sm">
				<Button href="/resume/cv-2024.pdf" target={'_blank'}>
					Download CV
					<Image src={ buttonIcon } class="c-button__icon" alt="" width="18" />
				</Button>
				<Aside />
			</div>
		</div>
	</section>
</Layout>
